<div class="cv_banner_wrapper">
    <div class="cv_container container-fluid  ">
      <div class="row">
        <div class="col-xl-6">
          <div class="cv_banner_img">
            <img src="assets/images/front-view-laptop-office-workspace-with-lamp-notebook__2_-removebg-preview.webp" class="img-fluid bnr-boy"style="height:860px;">
            <img src="assets/images/bnr-line.png" class="bnr-line">
            <img src="assets/images/bnr-star.png" class="bnr-star">
            <img src="assets/images/bnr-sqr.png" class="bnr-sqr">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="cv_banner_text">
            <h5>Software Developer!</h5>
            <h1>Hello! <span><img src="assets/images/hand.svg" class="img-fluid"></span> I Am</h1>
            <h1 class="cv_profile_name"></h1>
            <a href="javascript:void(0);" class="cv_btn">Hire Me</a>
          </div>
          <div class="cv_banner_box">
            <h4 style="
            color: #fff;
        ">Full Stack Developer & Aspiring Data Scientist.</h4>
            <p style="
            color: #fff;
        ">Developed responsive web apps using HTML, CSS, JS, and frameworks like React and Angular.
  Implemented back-end services with Node.js, Express,PHP and databases like MongoDB and SQL.Optimized app performance, ensure scalability, and collaborate with cross-functional teams.Analyzing datasets to extract insights and support decision-making.
  Building predictive models using machine learning in Python and R.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  