<!-- Map Section Start -->
<div class="cv_map_wrapper">
  <div class="cv_container container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-8">
        <div class="cv_map_content">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.5240877215124!2d76.04315457607015!3d22.96774781837043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3963172b725b9649%3A0xca9958ddaa36af60!2sPixelNX!5e0!3m2!1sen!2sin!4v1701171479634!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="cv_map_info">
          <div class="cv_map_heading">
            <h2>Get In Touch</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Do Section End -->
<!-- Address Section Start -->
<section class="cv_address_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="cv_address_box">
          <div class="cv_address_icon">
            <img src="assets/images/add-1.svg">
          </div>
          <div class="cv_address_text">
            <h5>Phone</h5>
            <a href="javascript:void(0);">+1-202-555-0125</a>
            <a href="javascript:void(0);">01-202-555-0125</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="cv_address_box">
          <div class="cv_address_icon">
            <img src="assets/images/add-2.svg">
          </div>
          <div class="cv_address_text">
            <h5>Email</h5>
            <a href="javascript:void(0);"><span class="__cf_email__" data-cfemail="2c49544d415c40496c4b414d4540024f4341">[email&#160;protected]</span></a>
            <a href="javascript:void(0);"><span class="__cf_email__" data-cfemail="ceb7a1bbbca0afa3ab8ea9a3afa7a2e0ada1a3">[email&#160;protected]</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="cv_address_box">
          <div class="cv_address_icon">
            <img src="assets/images/add-3.svg">
          </div>
          <div class="cv_address_text">
            <h5>Address</h5>
            <a href="javascript:void(0);">71 Pilgrim Avenue Chevy Chase, MD 20815</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Address Section End -->
<!-- Form Section Start -->
<section class="cv_form_wrapper">
  <form class="cv_contact_form">
    <div class="cv_container container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-4">
          <div class="cv_client_heading">
            <h2>Contact Us</h2>
            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="row">
            <div class="col-md-6">
              <input type="text" name="name" placeholder="Your Name" autocomplete="off">
              <input type="email" name="email" placeholder="Your Email" autocomplete="off">
              <input type="text" name="subject" placeholder="Subject" autocomplete="off">
            </div>
            <div class="col-md-6">
              <textarea placeholder="Message"></textarea>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="cv_contact_btn">
            <a href="javascript:void(0);" class="cv_btn">Submit</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<!-- Form Section End -->
<!-- Footer Section Start -->
<div class="cv_footer_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cv_footer_text">
          <p>Copyright © <span id="copyYear"></span> Portfolio. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section End -->